# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Python venv
.venv/
.venv_ibm/
env/
ENV/

# dotenv 파일
.env

# Streamlit secrets (절대 올리면 안 됨)
.streamlit/secrets.toml

# VSCode 설정
.vscode/

# OS
.DS_Store
Thumbs.db

static/user
.mp3
.pdf